#printing {
  margin-top: 4rem;
  ul.stepper {
    padding: 0;
    overflow: visible;
    max-width: 100%;
  }
  .stepper.timeline li a .circle {
    margin-top: 0.9rem;
    width: 23px;
    height: 23px;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -36px;
    z-index: 2;
  }
  // List
  ul {
    list-style: none;
    padding: 0;
  }
  // Intersections
  .whole {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 4rem !important;
    background: url("../../../assets/bg/angle_light.svg");
    background-size: contain;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
