#error {
  margin-top: 4rem !important;
  h1{
    font-size: 6rem;
    font-weight: bold;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
