.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

// Custom colors
.agency-dark {
  background-color: $agencyDark !important;
  &.darken-1 {
    background-color: darken($agencyDark, 2%) !important;
  }
  &.darken-2 {
    background-color: darken($agencyDark, 5%) !important;
  }
  &.darken-3 {
    background-color: darken($agencyDark, 10%) !important;
  }
  &.lighten-1 {
    background-color: lighten($agencyDark, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($agencyDark, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($agencyDark, 30%) !important;
  }
}
.agency-red {
  background-color: $agencyRed !important;
  &.darken-1 {
    background-color: darken($agencyRed, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($agencyRed, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($agencyRed, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($agencyRed, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($agencyRed, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($agencyRed, 30%) !important;
  }
}
// Custom buttons
.btn-agency-red {
  background-color: $agencyRed !important;
  color: white;
  &:hover {
    background-color: darken($agencyRed, 10%) !important;
    color: white;
  }
  &:focus {
    background-color: darken($agencyRed, 20%) !important;
    color: white;
  }
}
.btn-outline-agency-red {
  color: $agencyRed !important;
  background-color: transparent !important;
  border: 2px solid $agencyRed !important;
  &:hover {
    border: 2px solid darken($agencyRed, 10%) !important;
  }
}

// Custom text
.red-text {
  color: $agencyRed !important;
}
.pink-text {
  color: $pink !important;
}

// Buttons
.btn {
  box-shadow: none !important;
  i {
    margin-right: 0.3rem;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

// Cards
.card {
  box-shadow: none;
}

// Generic
.clickable {
  cursor: pointer !important;
}

// Fix icon spacing in buttons
.btn {
  i {
    padding-right: 0.2rem;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
