.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

// Custom colors
.agency-dark {
  background-color: $agencyDark !important;
  &.darken-1 {
    background-color: darken($agencyDark, 2%) !important;
  }
  &.darken-2 {
    background-color: darken($agencyDark, 5%) !important;
  }
  &.darken-3 {
    background-color: darken($agencyDark, 10%) !important;
  }
  &.lighten-1 {
    background-color: lighten($agencyDark, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($agencyDark, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($agencyDark, 30%) !important;
  }
}
.agency-red {
  background-color: $agencyRed !important;
  &.darken-1 {
    background-color: darken($agencyRed, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($agencyRed, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($agencyRed, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($agencyRed, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($agencyRed, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($agencyRed, 30%) !important;
  }
}
// Custom buttons
.btn-agency-red {
  background-color: $agencyRed !important;
  color: white;
  &:hover {
    background-color: darken($agencyRed, 10%) !important;
    color: white;
  }
  &:focus {
    background-color: darken($agencyRed, 20%) !important;
    color: white;
  }
}
.btn-outline-agency-red {
  color: $agencyRed !important;
  background-color: transparent !important;
  border: 2px solid $agencyRed !important;
  &:hover {
    border: 2px solid darken($agencyRed, 10%) !important;
  }
}

// Custom text
.red-text {
  color: $agencyRed !important;
}
.pink-text {
  color: $pink !important;
}

// Buttons
.btn {
  box-shadow: none !important;
  i {
    margin-right: 0.3rem;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

// Cards
.card {
  box-shadow: none;
}

// Generic
.clickable {
  cursor: pointer !important;
}

// Fix icon spacing in buttons
.btn {
  i {
    padding-right: 0.2rem;
  }
}

// Dark Mode
.darkMode {
  // General
  background: $agencyDark;
  color: white;
  a:not(.btn) {
    color: lighten(#0056b3, 30%);
    &:hover {
      color: lighten(#0056b3, 40%);
    }
  }
  .blue-text {
    color: lighten(#0056b3, 30%) !important;
  }
  .btn-outline-agency-red {
    color: white !important;
    background-color: transparent !important;
    border: 2px solid white !important;
    &:hover {
      border: 2px solid darken(white, 10%) !important;
    }
  }
  .card {
    background: lighten($agencyDark, 5%);
    input,
    textarea {
      background: lighten($agencyDark, 10%);
      color: white;
      &::placeholder {
        color: darken(white, 30%) !important;
      }
    }
  }
  .text-muted {
    color: darken(white, 20%) !important;
  }
  // Individual sections
  #contactForm {
    background: darken($agencyDark, 5%);
  }
  #calltoaction {
    background: lighten($agencyDark, 20%);
  }
  #hero {
    background: linear-gradient(
      to top,
      $agencyDark 0%,
      darken($agencyDark, 10%) 100%
    );
    color: white;
    .top-mobile-bg {
      background-color: #2d3339;
    }
  }
  #seperator {
    background-image: url("../assets/bg/title-curve-dark.svg");
    color: white !important;
  }
  #services {
    .container {
      position: relative;
    }
    &::before {
      content: " ";
      background: linear-gradient(#2d3339, #212529) !important;
      height: 300px;
      position: absolute;
      width: 100%;
      z-index: 0;
    }
    img {
      filter: invert(1);
    }
  }
  // Pages
  #branding{
    background: #3e3e3e;
    color: white;
    .light-item {
      color: #212529;
    }
    .c-light {
      color: #212529;
    }
  }
  #analysis{
    .card{
      background: initial;
    }
    .z-depth-1{
      background: lighten($agencyDark, 5%);
      border: 5px $agencyRed solid;
    }
  }
  .showcase {
    color: #3e3e3e;
    .text-muted{
      color: lighten(#3e3e3e,20%) !important;
    }
  }
  #printing {
    // Intersections
    .whole {
      background: url("../assets/bg/angle_dark.svg");
    }
    // Steps
    .step-content {
      color: white;
      background: #2e2e2e;
    }
    .stepper.timeline li .step-content:after {
      border-left: 14px solid #2e2e2e;
      border-right: 0 solid #2e2e2e;
    }
    @media all and (min-width: 1024px) {
      .stepper.timeline li.timeline-inverted .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
      .stepper.timeline li.timeline-inverted .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
    }
    @media all and (max-width: 1024px) {
      .stepper.timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
      .stepper.timeline li .step-content:before {
        display: none;
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
    }

    .stepper.timeline li .step-content:before {
      border-left: 15px solid #4e4e4e;
      border-right: 0 solid #4e4e4e;
    }
    .step-content {
      border: 1px #4e4e4e solid;
    }
    .stepper.timeline.stepper-vertical li:not(:last-child):after {
      background-color: #2e2e2e;
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
